flows_nodered.json
[{"id":"e2f8e919fb60c691","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p0b6.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":590,"y":160,"wires":[]},{"id":"04104ec3f05a710b","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"iso","payloadType":"date","x":130,"y":160,"wires":[["7e539557157594cd"]]},{"id":"7e539557157594cd","type":"change","z":"1aeab47cb9e613a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'\\uE150 ' & $moment().hour() & ':' &$now('[m01]')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":160,"wires":[["e2f8e919fb60c691"]]},{"id":"7447849b39fa9758","type":"mqtt in","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/state/statusupdate","qos":"2","datatype":"auto-detect","broker":"5f26c07eda870841","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":80,"wires":[["4288f1c7e62e68d7"]]},{"id":"4288f1c7e62e68d7","type":"switch","z":"1aeab47cb9e613a4","name":"","property":"payload.page","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":80,"wires":[["1dd545026a92cf75"],[]]},{"id":"1dd545026a92cf75","type":"change","z":"1aeab47cb9e613a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'\\uE0ED ' & $moment().format(\"DD.MM.YY\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":80,"wires":[["30c3934fc473017d"]]},{"id":"e7de46fc8140a18a","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":40,"wires":[["1dd545026a92cf75"]]},{"id":"30c3934fc473017d","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p0b4.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":830,"y":80,"wires":[]},{"id":"df83df7d2368eaf9","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":640,"wires":[["7636863b188bd5f6","74c0f821e0c52ff6","56e5918f6ace3ce4"]]},{"id":"2ace35c78d282a00","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p2b11.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":620,"wires":[]},{"id":"36ab0cad31aacc26","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":600,"wires":[["b88e6aba1b5761b9"]]},{"id":"b88e6aba1b5761b9","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p2b12.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":600,"wires":[]},{"id":"7636863b188bd5f6","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":620,"wires":[["2ace35c78d282a00"]]},{"id":"74c0f821e0c52ff6","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":640,"wires":[["6c13741c13d00eec"]]},{"id":"6c13741c13d00eec","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p2b8.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":810,"y":640,"wires":[]},{"id":"56e5918f6ace3ce4","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":660,"wires":[["c710b73cfb3d5e68"]]},{"id":"c710b73cfb3d5e68","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p2b10.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":660,"wires":[]},{"id":"48f8a0dd8b9b65ac","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":760,"wires":[["ee8064349988fbd6","a3f8d8731b6992bf","bfb22ced4ff6d207"]]},{"id":"9d9c3b0434036869","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p2b16.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":740,"wires":[]},{"id":"bbc8702d9f9559f2","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":720,"wires":[["5583fa545f935e86"]]},{"id":"5583fa545f935e86","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p2b17.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":720,"wires":[]},{"id":"ee8064349988fbd6","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":740,"wires":[["9d9c3b0434036869"]]},{"id":"a3f8d8731b6992bf","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":760,"wires":[["727719b4a5a356ba"]]},{"id":"727719b4a5a356ba","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p2b13.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":760,"wires":[]},{"id":"bfb22ced4ff6d207","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":780,"wires":[["1dc75d54de644567"]]},{"id":"1dc75d54de644567","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p2b15.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":780,"wires":[]},{"id":"17637d7858b8ea2b","type":"ical-events","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"5","timeoutUnits":"minutes","cron":"","name":"SmartGemeindehausKalenderTest","offsettype":"num","offset":"-1","offsetUnitstype":"offsetUnits","offsetUnits":"minutes","eventtypes":"events","eventtypestype":"eventtypes","calendar":"Kirchraum (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"location","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"Konfiraum","x":1220,"y":620,"wires":[["478d8f75c7791d4a","6e4b32a701ca2c6b"],["e58be0fc6ea3df3b","5b22d7fa2972a5dd"]]},{"id":"e58be0fc6ea3df3b","type":"change","z":"1aeab47cb9e613a4","name":"grün","rules":[{"t":"set","p":"payload","pt":"msg","to":"#00FF00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":660,"wires":[["71dfb6dc7ba7c22d","adadef3ae3d94376"]]},{"id":"71dfb6dc7ba7c22d","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p2b1.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1730,"y":620,"wires":[]},{"id":"0451b39425afc80b","type":"change","z":"1aeab47cb9e613a4","name":"rot","rules":[{"t":"set","p":"payload","pt":"msg","to":"#FF0000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":700,"wires":[["71dfb6dc7ba7c22d","adadef3ae3d94376"]]},{"id":"eb06e51b46d11db4","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b2.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1710,"y":580,"wires":[]},{"id":"f7e6cd23aa6806df","type":"change","z":"1aeab47cb9e613a4","name":"besetzt","rules":[{"t":"set","p":"payload","pt":"msg","to":"besetzt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":560,"wires":[["eb06e51b46d11db4"]]},{"id":"5b22d7fa2972a5dd","type":"change","z":"1aeab47cb9e613a4","name":"frei","rules":[{"t":"set","p":"payload","pt":"msg","to":"frei","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":600,"wires":[["eb06e51b46d11db4"]]},{"id":"adadef3ae3d94376","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b2.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1730,"y":660,"wires":[]},{"id":"cba3a815760c0d74","type":"comment","z":"1aeab47cb9e613a4","name":"Terminanzeige für die einzelnen Räume","info":"","x":210,"y":500,"wires":[]},{"id":"c17556fd83fb0a67","type":"comment","z":"1aeab47cb9e613a4","name":"Frei/Besetzt-Anzeige für die einzelnen Räume","info":"","x":1250,"y":500,"wires":[]},{"id":"6645d9e8f05e2b4d","type":"ical-upcoming","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"46","timeoutUnits":"minutes","cron":"","name":"Kirchraum","offsettype":"","offset":"","offsetUnitstype":"","offsetUnits":"","eventtypes":"events","eventtypestype":"str","calendar":"Kirchraum (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"summary","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"","checkall":false,"endpreview":"","endpreviewUnits":"","previewtype":"num","preview":"7","previewUnitstype":"previewUnits","previewUnits":"days","pastviewtype":"num","pastview":"2","pastviewUnits":"hours","pastviewUnitstype":"pastviewUnits","x":170,"y":700,"wires":[["0f885b78b960e73c","36ab0cad31aacc26","df83df7d2368eaf9","bbc8702d9f9559f2","48f8a0dd8b9b65ac"]]},{"id":"0f885b78b960e73c","type":"debug","z":"1aeab47cb9e613a4","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":220,"y":820,"wires":[]},{"id":"bed99045d955f25b","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":620,"wires":[["6645d9e8f05e2b4d"]]},{"id":"d18f9b447fc19842","type":"ical-upcoming","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"46","timeoutUnits":"minutes","cron":"","name":"Saal","offsettype":"","offset":"","offsetUnitstype":"","offsetUnits":"","eventtypes":"events","eventtypestype":"str","calendar":"Saal (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"summary","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"","checkall":false,"endpreview":"","endpreviewUnits":"","previewtype":"num","preview":"7","previewUnitstype":"previewUnits","previewUnits":"days","pastviewtype":"num","pastview":"2","pastviewUnits":"hours","pastviewUnitstype":"pastviewUnits","x":170,"y":1140,"wires":[["ca910b9fc597c90f","53671e2d4bcbd664","9916cddf29ba99f2","f7f134181bb7157b"]]},{"id":"36a6dc7855cadbbe","type":"ical-upcoming","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"46","timeoutUnits":"minutes","cron":"","name":"Wintergarten","offsettype":"","offset":"","offsetUnitstype":"","offsetUnits":"","eventtypes":"events","eventtypestype":"str","calendar":"Wintergarten (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"summary","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"","checkall":false,"endpreview":"","endpreviewUnits":"","previewtype":"num","preview":"7","previewUnitstype":"previewUnits","previewUnits":"days","pastviewtype":"num","pastview":"2","pastviewUnits":"hours","pastviewUnitstype":"pastviewUnits","x":110,"y":1500,"wires":[["24688f36daa687af","c3e233c31a582806","a665308fb3fcf695","cf8f6f45bd1ea60c"]]},{"id":"ed33484736873d2c","type":"ical-upcoming","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"46","timeoutUnits":"minutes","cron":"","name":"Konfiraum","offsettype":"","offset":"","offsetUnitstype":"","offsetUnits":"","eventtypes":"events","eventtypestype":"str","calendar":"Konfiraum (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"summary","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"","checkall":false,"endpreview":"","endpreviewUnits":"","previewtype":"num","preview":"7","previewUnitstype":"previewUnits","previewUnits":"days","pastviewtype":"num","pastview":"2","pastviewUnits":"hours","pastviewUnitstype":"pastviewUnits","x":130,"y":1940,"wires":[["bdfccf004f44364c","9b438032c078caa2","531259769a905cce","97a5bf2a1eb7d4f1"]]},{"id":"357a425605d17518","type":"ical-upcoming","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"46","timeoutUnits":"minutes","cron":"","name":"Multiraum","offsettype":"","offset":"","offsetUnitstype":"","offsetUnits":"","eventtypes":"events","eventtypestype":"str","calendar":"Multiraum (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"summary","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"","checkall":false,"endpreview":"","endpreviewUnits":"","previewtype":"num","preview":"7","previewUnitstype":"previewUnits","previewUnits":"days","pastviewtype":"num","pastview":"2","pastviewUnits":"hours","pastviewUnitstype":"pastviewUnits","x":100,"y":2400,"wires":[["7ff016d61ef10c5c","dd9ad586b67fb68b","83b8b69cceb7173d","0ed60b83dda84d75"]]},{"id":"8f0e28ec1521638a","type":"ical-upcoming","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"46","timeoutUnits":"minutes","cron":"","name":"Musikraum","offsettype":"","offset":"","offsetUnitstype":"","offsetUnits":"","eventtypes":"events","eventtypestype":"str","calendar":"Musikraum (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"summary","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"","checkall":false,"endpreview":"","endpreviewUnits":"","previewtype":"num","preview":"7","previewUnitstype":"previewUnits","previewUnits":"days","pastviewtype":"num","pastview":"2","pastviewUnits":"hours","pastviewUnitstype":"pastviewUnits","x":170,"y":2840,"wires":[["8334f402b148cc92","0c5ce20315d656e0","dc4a05c26f95d0fb","297fde7fc23da8ad"]]},{"id":"0d28197659ab2701","type":"ical-upcoming","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"46","timeoutUnits":"minutes","cron":"","name":"Küche","offsettype":"","offset":"","offsetUnitstype":"","offsetUnits":"","eventtypes":"events","eventtypestype":"str","calendar":"Küche (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"summary","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"","checkall":false,"endpreview":"","endpreviewUnits":"","previewtype":"num","preview":"7","previewUnitstype":"previewUnits","previewUnits":"days","pastviewtype":"num","pastview":"2","pastviewUnits":"hours","pastviewUnitstype":"pastviewUnits","x":150,"y":3240,"wires":[["4e5188dc36ac0159","592f2552cb3c3d5d","1a6726243929f99f","0428f89b8d6543fe"]]},{"id":"1990a71a24d82176","type":"mqtt in","z":"1aeab47cb9e613a4","name":"","topic":"zigbee2mqtt/EMPT1","qos":"2","datatype":"auto-detect","broker":"5f26c07eda870841","nl":false,"rap":true,"rh":0,"inputs":0,"x":410,"y":840,"wires":[["2d3102b80dac09ee"]]},{"id":"347fbf68fe838119","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p2b6.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":850,"y":840,"wires":[]},{"id":"2d3102b80dac09ee","type":"change","z":"1aeab47cb9e613a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":840,"wires":[["347fbf68fe838119"]]},{"id":"195a115a830d4be4","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 01 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1150,"y":560,"wires":[["5b22d7fa2972a5dd","e58be0fc6ea3df3b"]]},{"id":"478d8f75c7791d4a","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1350,"y":560,"wires":[["f7e6cd23aa6806df"]]},{"id":"6e4b32a701ca2c6b","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1370,"y":700,"wires":[["0451b39425afc80b"]]},{"id":"53671e2d4bcbd664","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1080,"wires":[["c31d35e5a68c5ac7","62f2a0df58b0cc81","a4317cdc4c9ab82e"]]},{"id":"500bf5525c25e7d9","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p3b11.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":1060,"wires":[]},{"id":"ca910b9fc597c90f","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1040,"wires":[["141114ec22200b3c"]]},{"id":"141114ec22200b3c","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p3b12.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":1040,"wires":[]},{"id":"c31d35e5a68c5ac7","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1060,"wires":[["500bf5525c25e7d9"]]},{"id":"62f2a0df58b0cc81","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1080,"wires":[["9e79cc6c1d21ceca"]]},{"id":"9e79cc6c1d21ceca","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p3b8.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":810,"y":1080,"wires":[]},{"id":"a4317cdc4c9ab82e","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1100,"wires":[["29f97e522333ffc3"]]},{"id":"29f97e522333ffc3","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p3b10.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":1100,"wires":[]},{"id":"f7f134181bb7157b","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1200,"wires":[["a68d76b1be8a8076","bf645e89aef418a0","71bc306490aa14ae"]]},{"id":"8de439cf5c1c8fad","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p3b16.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":1180,"wires":[]},{"id":"9916cddf29ba99f2","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1160,"wires":[["5755a9f5ede24455"]]},{"id":"5755a9f5ede24455","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p3b17.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":1160,"wires":[]},{"id":"a68d76b1be8a8076","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1180,"wires":[["8de439cf5c1c8fad"]]},{"id":"bf645e89aef418a0","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1200,"wires":[["418bcf1e24b839a8"]]},{"id":"418bcf1e24b839a8","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p3b13.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":1200,"wires":[]},{"id":"71bc306490aa14ae","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1220,"wires":[["1b7656e0cf53d39d"]]},{"id":"1b7656e0cf53d39d","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p3b15.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":820,"y":1220,"wires":[]},{"id":"5fa7a5e11e66f006","type":"mqtt in","z":"1aeab47cb9e613a4","d":true,"name":"","topic":"zigbee2mqtt/EMPT1","qos":"2","datatype":"auto-detect","broker":"5f26c07eda870841","nl":false,"rap":true,"rh":0,"inputs":0,"x":410,"y":1280,"wires":[["5f4cf836a18ba730"]]},{"id":"ba9d0340fd93ef27","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p3b6.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":850,"y":1280,"wires":[]},{"id":"5f4cf836a18ba730","type":"change","z":"1aeab47cb9e613a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1280,"wires":[["ba9d0340fd93ef27"]]},{"id":"26abce9349701165","type":"ical-events","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"5","timeoutUnits":"minutes","cron":"","name":"SmartGemeindehausKalenderTest","offsettype":"num","offset":"-1","offsetUnitstype":"offsetUnits","offsetUnits":"minutes","eventtypes":"events","eventtypestype":"eventtypes","calendar":"Saal (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"location","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"Konfiraum","x":1240,"y":1120,"wires":[["b5e59a5bcf36f2ac","cad504b2c1e8f5bc"],["c88cf307b43d4e96","4caf65e064ea0d93"]]},{"id":"c88cf307b43d4e96","type":"change","z":"1aeab47cb9e613a4","name":"grün","rules":[{"t":"set","p":"payload","pt":"msg","to":"#00FF00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1160,"wires":[["a64b770bac91b34f","abfcff9b934cec26"]]},{"id":"a64b770bac91b34f","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p3b1.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1750,"y":1120,"wires":[]},{"id":"0fe2a811e4cae1cd","type":"change","z":"1aeab47cb9e613a4","name":"rot","rules":[{"t":"set","p":"payload","pt":"msg","to":"#FF0000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1200,"wires":[["a64b770bac91b34f","abfcff9b934cec26"]]},{"id":"9dbb39b181431d6b","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b4.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1730,"y":1080,"wires":[]},{"id":"cafcf45d855f3764","type":"change","z":"1aeab47cb9e613a4","name":"besetzt","rules":[{"t":"set","p":"payload","pt":"msg","to":"besetzt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1060,"wires":[["9dbb39b181431d6b"]]},{"id":"4caf65e064ea0d93","type":"change","z":"1aeab47cb9e613a4","name":"frei","rules":[{"t":"set","p":"payload","pt":"msg","to":"frei","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1100,"wires":[["9dbb39b181431d6b"]]},{"id":"abfcff9b934cec26","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b4.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1750,"y":1160,"wires":[]},{"id":"2f508e0ce34907c0","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 01 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1170,"y":1060,"wires":[["4caf65e064ea0d93","c88cf307b43d4e96"]]},{"id":"b5e59a5bcf36f2ac","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1370,"y":1060,"wires":[["cafcf45d855f3764"]]},{"id":"cad504b2c1e8f5bc","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1390,"y":1200,"wires":[["0fe2a811e4cae1cd"]]},{"id":"0939e1431c6b132d","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1040,"wires":[["d18f9b447fc19842"]]},{"id":"c3e233c31a582806","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1500,"wires":[["a24985561cbc1ade","f2ad56f75f485f6c","1b423a93f754bf25"]]},{"id":"41d72048232e72f6","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p4b11.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":1480,"wires":[]},{"id":"24688f36daa687af","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1460,"wires":[["0d1d901e69a6cc1b"]]},{"id":"0d1d901e69a6cc1b","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p4b12.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":1460,"wires":[]},{"id":"a24985561cbc1ade","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1480,"wires":[["41d72048232e72f6"]]},{"id":"f2ad56f75f485f6c","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1500,"wires":[["ffadf487533ac1ed"]]},{"id":"ffadf487533ac1ed","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p4b8.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":770,"y":1500,"wires":[]},{"id":"1b423a93f754bf25","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1520,"wires":[["53ebf5a389df9497"]]},{"id":"53ebf5a389df9497","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p4b10.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":1520,"wires":[]},{"id":"cf8f6f45bd1ea60c","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1620,"wires":[["3a1801ec73117cbb","1f9e2ca9176a0ff0","87d1ae659775c2cb"]]},{"id":"1f8dab2135f3e797","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p4b16.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":1600,"wires":[]},{"id":"a665308fb3fcf695","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1580,"wires":[["08462303cffd1994"]]},{"id":"08462303cffd1994","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p4b17.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":1580,"wires":[]},{"id":"3a1801ec73117cbb","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1600,"wires":[["1f8dab2135f3e797"]]},{"id":"1f9e2ca9176a0ff0","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1620,"wires":[["7b9a301a1a4ecfd9"]]},{"id":"7b9a301a1a4ecfd9","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p4b13.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":1620,"wires":[]},{"id":"87d1ae659775c2cb","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1640,"wires":[["6b7039fe9552b0af"]]},{"id":"6b7039fe9552b0af","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p4b15.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":1640,"wires":[]},{"id":"7cdc98ce43aa6b8a","type":"mqtt in","z":"1aeab47cb9e613a4","d":true,"name":"","topic":"zigbee2mqtt/EMPT1","qos":"2","datatype":"auto-detect","broker":"5f26c07eda870841","nl":false,"rap":true,"rh":0,"inputs":0,"x":370,"y":1700,"wires":[["cd4d83b4c5387547"]]},{"id":"58cf034f1d62029e","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p4b6.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":810,"y":1700,"wires":[]},{"id":"cd4d83b4c5387547","type":"change","z":"1aeab47cb9e613a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1700,"wires":[["58cf034f1d62029e"]]},{"id":"9e451a8db27e04f9","type":"ical-events","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"5","timeoutUnits":"minutes","cron":"","name":"SmartGemeindehausKalenderTest","offsettype":"num","offset":"-1","offsetUnitstype":"offsetUnits","offsetUnits":"minutes","eventtypes":"events","eventtypestype":"eventtypes","calendar":"Wintergarten (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"location","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"Konfiraum","x":1200,"y":1540,"wires":[["4956d347b31d62ef","3b95c0b3d4fe0fa1"],["94696e1a349a6952","6243efb846ac7793"]]},{"id":"94696e1a349a6952","type":"change","z":"1aeab47cb9e613a4","name":"grün","rules":[{"t":"set","p":"payload","pt":"msg","to":"#00FF00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":1580,"wires":[["c0f06a2baa56fb70","36da852a703fb9ef"]]},{"id":"c0f06a2baa56fb70","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p4b1.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1710,"y":1540,"wires":[]},{"id":"e8eed6076bb07725","type":"change","z":"1aeab47cb9e613a4","name":"rot","rules":[{"t":"set","p":"payload","pt":"msg","to":"#FF0000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":1620,"wires":[["c0f06a2baa56fb70","36da852a703fb9ef"]]},{"id":"5644b93603c4fd21","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b6.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1690,"y":1500,"wires":[]},{"id":"e163a5c43bae62a3","type":"change","z":"1aeab47cb9e613a4","name":"besetzt","rules":[{"t":"set","p":"payload","pt":"msg","to":"besetzt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1480,"wires":[["5644b93603c4fd21"]]},{"id":"6243efb846ac7793","type":"change","z":"1aeab47cb9e613a4","name":"frei","rules":[{"t":"set","p":"payload","pt":"msg","to":"frei","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":1520,"wires":[["5644b93603c4fd21"]]},{"id":"36da852a703fb9ef","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b6.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1710,"y":1580,"wires":[]},{"id":"3c07ccaa2d79f235","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 01 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1130,"y":1480,"wires":[["6243efb846ac7793","94696e1a349a6952"]]},{"id":"4956d347b31d62ef","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1330,"y":1480,"wires":[["e163a5c43bae62a3"]]},{"id":"3b95c0b3d4fe0fa1","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1350,"y":1620,"wires":[["e8eed6076bb07725"]]},{"id":"543eeb81e2638314","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1440,"wires":[["36a6dc7855cadbbe"]]},{"id":"6f04d49b5044f730","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1860,"wires":[["ed33484736873d2c"]]},{"id":"9b438032c078caa2","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1920,"wires":[["a9f5b4e1f180402f","4389a285a1c81c13","ba5148723da08f09"]]},{"id":"136efcb763e911d9","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p5b11.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":1900,"wires":[]},{"id":"bdfccf004f44364c","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1880,"wires":[["8346c659e72f8589"]]},{"id":"8346c659e72f8589","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p5b12.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":1880,"wires":[]},{"id":"a9f5b4e1f180402f","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1900,"wires":[["136efcb763e911d9"]]},{"id":"4389a285a1c81c13","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1920,"wires":[["47f7895b1116f30a"]]},{"id":"47f7895b1116f30a","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p5b8.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":750,"y":1920,"wires":[]},{"id":"ba5148723da08f09","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1940,"wires":[["b543d9fb68ef7696"]]},{"id":"b543d9fb68ef7696","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p5b10.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":1940,"wires":[]},{"id":"97a5bf2a1eb7d4f1","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2040,"wires":[["7c3bcd9e8ae7eb91","beddb1a552824d66","5f8a01cf29296633"]]},{"id":"efa30aad54f0b0bf","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p5b16.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":2020,"wires":[]},{"id":"531259769a905cce","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2000,"wires":[["660178415a2e95d8"]]},{"id":"660178415a2e95d8","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p5b17.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":2000,"wires":[]},{"id":"7c3bcd9e8ae7eb91","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2020,"wires":[["efa30aad54f0b0bf"]]},{"id":"beddb1a552824d66","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2040,"wires":[["3dc1470f8de13622"]]},{"id":"3dc1470f8de13622","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p5b13.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":2040,"wires":[]},{"id":"5f8a01cf29296633","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2060,"wires":[["59a0341ea6b5c71c"]]},{"id":"59a0341ea6b5c71c","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p5b15.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":2060,"wires":[]},{"id":"45e768d637e9f799","type":"mqtt in","z":"1aeab47cb9e613a4","d":true,"name":"","topic":"zigbee2mqtt/EMPT1","qos":"2","datatype":"auto-detect","broker":"5f26c07eda870841","nl":false,"rap":true,"rh":0,"inputs":0,"x":350,"y":2120,"wires":[["17566ab2372e7a00"]]},{"id":"84e083df08425483","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p5b6.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":790,"y":2120,"wires":[]},{"id":"17566ab2372e7a00","type":"change","z":"1aeab47cb9e613a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2120,"wires":[["84e083df08425483"]]},{"id":"532b63e72999295e","type":"ical-events","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"5","timeoutUnits":"minutes","cron":"","name":"SmartGemeindehausKalenderTest","offsettype":"num","offset":"-1","offsetUnitstype":"offsetUnits","offsetUnits":"minutes","eventtypes":"events","eventtypestype":"eventtypes","calendar":"Konfiraum (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"location","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"Konfiraum","x":1180,"y":1960,"wires":[["068046c511b53ae6","130847d50fa794ff"],["b691312afb55c281","b0ee72ee465dea57"]]},{"id":"b691312afb55c281","type":"change","z":"1aeab47cb9e613a4","name":"grün","rules":[{"t":"set","p":"payload","pt":"msg","to":"#00FF00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":2000,"wires":[["9da3765ea818512e","c24d2af702c1122d"]]},{"id":"9da3765ea818512e","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p5b1.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1690,"y":1960,"wires":[]},{"id":"2dee1e25847992a2","type":"change","z":"1aeab47cb9e613a4","name":"rot","rules":[{"t":"set","p":"payload","pt":"msg","to":"#FF0000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":2040,"wires":[["9da3765ea818512e","c24d2af702c1122d"]]},{"id":"9919e2a141c3e42b","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b8.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1670,"y":1920,"wires":[]},{"id":"02812690480b1450","type":"change","z":"1aeab47cb9e613a4","name":"besetzt","rules":[{"t":"set","p":"payload","pt":"msg","to":"besetzt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1900,"wires":[["9919e2a141c3e42b"]]},{"id":"b0ee72ee465dea57","type":"change","z":"1aeab47cb9e613a4","name":"frei","rules":[{"t":"set","p":"payload","pt":"msg","to":"frei","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":1940,"wires":[["9919e2a141c3e42b"]]},{"id":"c24d2af702c1122d","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b8.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1690,"y":2000,"wires":[]},{"id":"7c53c3087215e414","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 01 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1110,"y":1900,"wires":[["b0ee72ee465dea57","b691312afb55c281"]]},{"id":"068046c511b53ae6","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1310,"y":1900,"wires":[["02812690480b1450"]]},{"id":"130847d50fa794ff","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1330,"y":2040,"wires":[["2dee1e25847992a2"]]},{"id":"f4bf6cd04b76ecd7","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2320,"wires":[["357a425605d17518"]]},{"id":"dd9ad586b67fb68b","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2380,"wires":[["cb1107b6a2d1b058","63c97b83bf7983ab","05fccbcac5dda6f7"]]},{"id":"cb2622fe7e6743af","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p6b11.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":2360,"wires":[]},{"id":"7ff016d61ef10c5c","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2340,"wires":[["1a2e55eac21b6395"]]},{"id":"1a2e55eac21b6395","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p6b12.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":2340,"wires":[]},{"id":"cb1107b6a2d1b058","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2360,"wires":[["cb2622fe7e6743af"]]},{"id":"63c97b83bf7983ab","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2380,"wires":[["700e871bba977256"]]},{"id":"700e871bba977256","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p6b8.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":750,"y":2380,"wires":[]},{"id":"05fccbcac5dda6f7","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2400,"wires":[["648e119c1186739a"]]},{"id":"648e119c1186739a","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p6b10.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":2400,"wires":[]},{"id":"0ed60b83dda84d75","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2500,"wires":[["ed216a4791c915c8","e1fa395608b6660d","3a43a874c6bb4de7"]]},{"id":"8eda4cb5250c2b6f","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p6b16.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":2480,"wires":[]},{"id":"83b8b69cceb7173d","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2460,"wires":[["aaec9def37b5b25c"]]},{"id":"aaec9def37b5b25c","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p6b17.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":2460,"wires":[]},{"id":"ed216a4791c915c8","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2480,"wires":[["8eda4cb5250c2b6f"]]},{"id":"e1fa395608b6660d","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2500,"wires":[["6fda3e66affa0d70"]]},{"id":"6fda3e66affa0d70","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p6b13.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":2500,"wires":[]},{"id":"3a43a874c6bb4de7","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":2520,"wires":[["4e951be2b2ebacee"]]},{"id":"4e951be2b2ebacee","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p6b15.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":760,"y":2520,"wires":[]},{"id":"deea4168cb252c4f","type":"mqtt in","z":"1aeab47cb9e613a4","d":true,"name":"","topic":"zigbee2mqtt/EMPT1","qos":"2","datatype":"auto-detect","broker":"5f26c07eda870841","nl":false,"rap":true,"rh":0,"inputs":0,"x":350,"y":2580,"wires":[["2087967624b37422"]]},{"id":"f9e449b91410b663","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p6b6.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":790,"y":2580,"wires":[]},{"id":"2087967624b37422","type":"change","z":"1aeab47cb9e613a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2580,"wires":[["f9e449b91410b663"]]},{"id":"2992a1b4b72b836c","type":"ical-events","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"5","timeoutUnits":"minutes","cron":"","name":"SmartGemeindehausKalenderTest","offsettype":"num","offset":"-1","offsetUnitstype":"offsetUnits","offsetUnits":"minutes","eventtypes":"events","eventtypestype":"eventtypes","calendar":"Multiraum (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"location","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"Konfiraum","x":1180,"y":2420,"wires":[["986287361d825403","ddfbd0ba1e3226ec"],["66fb1b85ee8b7816","80869c9b5a2b4455"]]},{"id":"66fb1b85ee8b7816","type":"change","z":"1aeab47cb9e613a4","name":"grün","rules":[{"t":"set","p":"payload","pt":"msg","to":"#00FF00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":2460,"wires":[["af98587d145c867d","0ffe6af1bb40524c"]]},{"id":"af98587d145c867d","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p6b1.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1690,"y":2420,"wires":[]},{"id":"3f66c8f5591ba220","type":"change","z":"1aeab47cb9e613a4","name":"rot","rules":[{"t":"set","p":"payload","pt":"msg","to":"#FF0000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":2500,"wires":[["af98587d145c867d","0ffe6af1bb40524c"]]},{"id":"df6a125d51bbaad3","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b10.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1680,"y":2380,"wires":[]},{"id":"64e198263981bc91","type":"change","z":"1aeab47cb9e613a4","name":"besetzt","rules":[{"t":"set","p":"payload","pt":"msg","to":"besetzt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":2360,"wires":[["df6a125d51bbaad3"]]},{"id":"80869c9b5a2b4455","type":"change","z":"1aeab47cb9e613a4","name":"frei","rules":[{"t":"set","p":"payload","pt":"msg","to":"frei","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":2400,"wires":[["df6a125d51bbaad3"]]},{"id":"0ffe6af1bb40524c","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b10.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1700,"y":2460,"wires":[]},{"id":"1194313fec2b9740","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 01 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1110,"y":2360,"wires":[["80869c9b5a2b4455","66fb1b85ee8b7816"]]},{"id":"986287361d825403","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1310,"y":2360,"wires":[["64e198263981bc91"]]},{"id":"ddfbd0ba1e3226ec","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1330,"y":2500,"wires":[["3f66c8f5591ba220"]]},{"id":"c7b894fd3a5c8cf3","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":2740,"wires":[["8f0e28ec1521638a"]]},{"id":"0c5ce20315d656e0","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":2800,"wires":[["51e94895a46d733b","4cdc3b0854324ab6","b57347dff14ce48e"]]},{"id":"e85db2be68e8fd2b","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p7b11.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":800,"y":2780,"wires":[]},{"id":"8334f402b148cc92","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2760,"wires":[["373668942bcd6c65"]]},{"id":"373668942bcd6c65","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p7b12.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":800,"y":2760,"wires":[]},{"id":"51e94895a46d733b","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2780,"wires":[["e85db2be68e8fd2b"]]},{"id":"4cdc3b0854324ab6","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":2800,"wires":[["469b722fa5536df3"]]},{"id":"469b722fa5536df3","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p7b8.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":790,"y":2800,"wires":[]},{"id":"b57347dff14ce48e","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2820,"wires":[["2a6716bb4d20ea15"]]},{"id":"2a6716bb4d20ea15","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p7b10.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":800,"y":2820,"wires":[]},{"id":"297fde7fc23da8ad","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":2920,"wires":[["0b5a3de86105123e","1b6930c661e9df43","253214afdc2580fb"]]},{"id":"31aa5c84a5624c93","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p7b16.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":800,"y":2900,"wires":[]},{"id":"dc4a05c26f95d0fb","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2880,"wires":[["6044a86e4ad64ffd"]]},{"id":"6044a86e4ad64ffd","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p7b17.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":800,"y":2880,"wires":[]},{"id":"0b5a3de86105123e","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2900,"wires":[["31aa5c84a5624c93"]]},{"id":"1b6930c661e9df43","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":2920,"wires":[["55761eb2a4d1bdd7"]]},{"id":"55761eb2a4d1bdd7","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p7b13.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":800,"y":2920,"wires":[]},{"id":"253214afdc2580fb","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2940,"wires":[["5af6528251c07938"]]},{"id":"5af6528251c07938","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p7b15.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":800,"y":2940,"wires":[]},{"id":"f4ee34b7bc047a62","type":"mqtt in","z":"1aeab47cb9e613a4","d":true,"name":"","topic":"zigbee2mqtt/EMPT1","qos":"2","datatype":"auto-detect","broker":"5f26c07eda870841","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":3000,"wires":[["1957b505e53601d4"]]},{"id":"f551e1ce5de8bcdf","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p7b6.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":830,"y":3000,"wires":[]},{"id":"1957b505e53601d4","type":"change","z":"1aeab47cb9e613a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":3000,"wires":[["f551e1ce5de8bcdf"]]},{"id":"271b25e2709270e8","type":"ical-events","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"5","timeoutUnits":"minutes","cron":"","name":"SmartGemeindehausKalenderTest","offsettype":"num","offset":"-1","offsetUnitstype":"offsetUnits","offsetUnits":"minutes","eventtypes":"events","eventtypestype":"eventtypes","calendar":"Musikraum (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"location","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"Konfiraum","x":1220,"y":2840,"wires":[["fbe6f8d2a07cebb3","afe1d2def349eac2"],["b7cdddadd7442dd0","dcce34f15286d279"]]},{"id":"b7cdddadd7442dd0","type":"change","z":"1aeab47cb9e613a4","name":"grün","rules":[{"t":"set","p":"payload","pt":"msg","to":"#00FF00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":2880,"wires":[["273030d4d80ad50f","e17f04cbe12d6588"]]},{"id":"273030d4d80ad50f","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p7b1.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1730,"y":2840,"wires":[]},{"id":"0211549d7b0dc9f9","type":"change","z":"1aeab47cb9e613a4","name":"rot","rules":[{"t":"set","p":"payload","pt":"msg","to":"#FF0000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":2920,"wires":[["273030d4d80ad50f","e17f04cbe12d6588"]]},{"id":"1e60adab20de718b","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b12.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1720,"y":2800,"wires":[]},{"id":"7515e884b4c1c0e5","type":"change","z":"1aeab47cb9e613a4","name":"besetzt","rules":[{"t":"set","p":"payload","pt":"msg","to":"besetzt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":2780,"wires":[["1e60adab20de718b"]]},{"id":"dcce34f15286d279","type":"change","z":"1aeab47cb9e613a4","name":"frei","rules":[{"t":"set","p":"payload","pt":"msg","to":"frei","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":2820,"wires":[["1e60adab20de718b"]]},{"id":"e17f04cbe12d6588","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b12.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1740,"y":2880,"wires":[]},{"id":"e21a26bdb9396946","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 01 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1150,"y":2780,"wires":[["dcce34f15286d279","b7cdddadd7442dd0"]]},{"id":"fbe6f8d2a07cebb3","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1350,"y":2780,"wires":[["7515e884b4c1c0e5"]]},{"id":"afe1d2def349eac2","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1370,"y":2920,"wires":[["0211549d7b0dc9f9"]]},{"id":"2c6453b495bdbf44","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":3140,"wires":[["0d28197659ab2701"]]},{"id":"592f2552cb3c3d5d","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":3200,"wires":[["aa1eaf4fabf73b2d","91843c2be914cf51","e1030dffe08b242e"]]},{"id":"e3af8c7c29cdb287","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p8b11.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":3180,"wires":[]},{"id":"4e5188dc36ac0159","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":3160,"wires":[["df68118e99b13a96"]]},{"id":"df68118e99b13a96","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p8b12.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":3160,"wires":[]},{"id":"aa1eaf4fabf73b2d","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":3180,"wires":[["e3af8c7c29cdb287"]]},{"id":"91843c2be914cf51","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":3200,"wires":[["05d56775408a8c98"]]},{"id":"05d56775408a8c98","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p8b8.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":770,"y":3200,"wires":[]},{"id":"e1030dffe08b242e","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":3220,"wires":[["08ebec7068a4d5e6"]]},{"id":"08ebec7068a4d5e6","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p8b10.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":3220,"wires":[]},{"id":"0428f89b8d6543fe","type":"change","z":"1aeab47cb9e613a4","name":"Zeit des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":3320,"wires":[["5c30757cc47653b4","f27bad94cc67711b","4d1394ce76615ab4"]]},{"id":"a5e04d6b4793ca4b","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p8b16.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":3300,"wires":[]},{"id":"1a6726243929f99f","type":"change","z":"1aeab47cb9e613a4","name":"Name des Termins","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.1.summary","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":3280,"wires":[["f286cac997242f65"]]},{"id":"f286cac997242f65","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p8b17.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":3280,"wires":[]},{"id":"5c30757cc47653b4","type":"change","z":"1aeab47cb9e613a4","name":"Datum","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 0, 6)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":3300,"wires":[["a5e04d6b4793ca4b"]]},{"id":"f27bad94cc67711b","type":"change","z":"1aeab47cb9e613a4","name":"Angangszeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 10, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":3320,"wires":[["bd6192d01bea9ed4"]]},{"id":"bd6192d01bea9ed4","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p8b13.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":3320,"wires":[]},{"id":"4d1394ce76615ab4","type":"change","z":"1aeab47cb9e613a4","name":"Endzeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substring(payload, 16, 5)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":3340,"wires":[["89ef9bd1e888ea4f"]]},{"id":"89ef9bd1e888ea4f","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p8b15.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":780,"y":3340,"wires":[]},{"id":"1b72f889105543e9","type":"mqtt in","z":"1aeab47cb9e613a4","d":true,"name":"","topic":"zigbee2mqtt/EMPT1","qos":"2","datatype":"auto-detect","broker":"5f26c07eda870841","nl":false,"rap":true,"rh":0,"inputs":0,"x":370,"y":3400,"wires":[["25a1df3b97751034"]]},{"id":"ed527b549f45b6f6","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p8b6.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":810,"y":3400,"wires":[]},{"id":"25a1df3b97751034","type":"change","z":"1aeab47cb9e613a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":3400,"wires":[["ed527b549f45b6f6"]]},{"id":"2a06fa8a6f9e3b08","type":"ical-events","z":"1aeab47cb9e613a4","confignode":"582ad09c1ab6aa25","timeout":"5","timeoutUnits":"minutes","cron":"","name":"SmartGemeindehausKalenderTest","offsettype":"num","offset":"-1","offsetUnitstype":"offsetUnits","offsetUnits":"minutes","eventtypes":"events","eventtypestype":"eventtypes","calendar":"Küche (Admin KG Pivitsheide)","calendartype":"str","triggertype":"trigger","trigger":"always","timezone":"Europe/Berlin","timezonetype":"str","dateformat":"{ \"timeStyle\": \"short\", \"dateStyle\": \"short\" }","dateformattype":"json","language":"de","languagetype":"language","filterProperty":"location","filterPropertytype":"filterProperty","filterOperator":"between","filterOperatortype":"filterOperator","filtertype":"str","filter2type":"str","filter2":"","filter":"Konfiraum","x":1200,"y":3240,"wires":[["f6043a8572fe311d","d7631228842b6449"],["9bde09eba9816632","90c977f6e3b01a3e"]]},{"id":"9bde09eba9816632","type":"change","z":"1aeab47cb9e613a4","name":"grün","rules":[{"t":"set","p":"payload","pt":"msg","to":"#00FF00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":3280,"wires":[["338293771b2b7993","bd206318c15974b4"]]},{"id":"338293771b2b7993","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p8b1.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1710,"y":3240,"wires":[]},{"id":"e33cdaba6a55c2e2","type":"change","z":"1aeab47cb9e613a4","name":"rot","rules":[{"t":"set","p":"payload","pt":"msg","to":"#FF0000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":3320,"wires":[["338293771b2b7993","bd206318c15974b4"]]},{"id":"ade70ec321f39633","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b14.text","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1700,"y":3200,"wires":[]},{"id":"3fab350daae8dc7e","type":"change","z":"1aeab47cb9e613a4","name":"besetzt","rules":[{"t":"set","p":"payload","pt":"msg","to":"besetzt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":3180,"wires":[["ade70ec321f39633"]]},{"id":"90c977f6e3b01a3e","type":"change","z":"1aeab47cb9e613a4","name":"frei","rules":[{"t":"set","p":"payload","pt":"msg","to":"frei","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":3220,"wires":[["ade70ec321f39633"]]},{"id":"bd206318c15974b4","type":"mqtt out","z":"1aeab47cb9e613a4","name":"","topic":"hasp/plate2/command/p1b14.text_color","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f26c07eda870841","x":1720,"y":3280,"wires":[]},{"id":"1a5741e95eb5c1bd","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 01 * * *","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1130,"y":3180,"wires":[["90c977f6e3b01a3e","9bde09eba9816632"]]},{"id":"f6043a8572fe311d","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1330,"y":3180,"wires":[["3fab350daae8dc7e"]]},{"id":"d7631228842b6449","type":"delay","z":"1aeab47cb9e613a4","name":"30s","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1350,"y":3320,"wires":[["e33cdaba6a55c2e2"]]},{"id":"7db37c8142e821ca","type":"inject","z":"1aeab47cb9e613a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":900,"y":1800,"wires":[["805e29282404c58c"]]},{"id":"805e29282404c58c","type":"junction","z":"1aeab47cb9e613a4","x":960,"y":1960,"wires":[["17637d7858b8ea2b","26abce9349701165","9e451a8db27e04f9","532b63e72999295e","2992a1b4b72b836c","271b25e2709270e8","2a06fa8a6f9e3b08"]]},{"id":"5f26c07eda870841","type":"mqtt-broker","name":"localmosquitto","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"582ad09c1ab6aa25","type":"ical-config","url":"https://nextcloud.domain/remote.php/dav/calendars/","caldav":"","caltype":"caldav","name":"Alle Kalender SmarteKirche_Pivitsheide","language":"de","replacedates":false,"usecache":false,"username":"","password":"","experimental":false,"calendar":"","pastWeeks":"0","futureWeeks":"4"},{"id":"12180219c38279a9","type":"global-config","env":[],"modules":{"node-red-contrib-ical-events":"2.2.5"}}]